<!DOCTYPE html>
<html>

<head>
    <title>PSCS Stickering | Conflict Emulator</title>
    <link href="./assets/media/favicon.ico" type="image/x-icon" rel="shortcut icon" />
    <meta charset="utf-8" />

    <script src="./assets/scripts/libraries/axios.min.js"></script>
    <script src="./assets/scripts/libraries/vue.js"></script>
    <script src="./assets/scripts/libraries/jquery.min.js"></script>
    <script src="./assets/scripts/libraries/arrive.min.js"></script>
    <script src="./assets/scripts/libraries/lodash.min.js"></script>
    <script src="./assets/scripts/libraries/sortable.min.js"></script>
    <script src="./assets/scripts/libraries/vuedraggable.min.js"></script>
    <script src="./assets/scripts/libraries/fuse.min.js"></script>

    <link href="./assets/css/libraries/spectre.min.css" rel="stylesheet" type="text/css" />
    <link href="./assets/css/libraries/spectre-icons.min.css" rel="stylesheet" type="text/css" />
    <link href="./assets/css/main.css" rel="stylesheet" type="text/css" />
</head>

<body style="background-color: #f7f8f996;">
    <div id="main-page">
        <div class='loading loading-lg main-loader'></div>
        <div class='container pad' style='width: unset;'>
            <div class='menu' style='width: 50%'>
                <h3>All classes</h3>
                <div class="form-group">
                    Regular
                    <label style='display:inline-block;' class="form-switch">

                        <input type="checkbox" class='is-block-checkbox form-input' @change='filterClasses'>

                        <i class="form-icon"></i>
                        Block
                    </label>

                </div>
                <div class='divider'></div>
                <draggable v-model='notSelected'
                    :options="{group:'stickers', sort: false, handle: '.a-c', animation: 150}" @end='onEnd'
                    style='width: 100%; min-height: 25px; display: grid; grid-template-columns: repeat(auto-fill,minmax(310px, 1fr));'
                    v-if='notSelected != []'>
                    <div style='width: 100%; border-radius: .1rem;' class='menu-item class-style unselected-classes'
                        v-for="item in notSelected" :key="item.id" :data-block='"" + item.isBlock'>
                        <div class='a-c'>
                            <span class='class-name' v-html='item.className.truncate(34)'></span>
                        </div>
                    </div>
                </draggable>
            </div>
            <div class=' menu'
                style='position: fixed; top: 10px; right: 20px; width: 47%; bottom: 50%; overflow-y: scroll; overflow-x:hidden;'>
                <label class="accordion-header">
                    <span class='h5'>Emulated slot</span>
                </label>
                <div class="accordion-body">
                    <draggable v-model='slot' :options="{group: {name: 'stickers'}, sort: false, animation: 150}"
                        @end='onEnd' style='min-height: 25px;'>
                        <div style='width: 100%;' class='menu-item class-style' v-for="item in slot" :key="item.id">
                            <div class='a-c'>
                                <span class='class-name' v-html='item.className'></span>
                            </div>
                        </div>
                    </draggable>
                </div>
            </div>
            <div class='menu'
                style='position: fixed; top: 52%; right: 20px; width: 47%; bottom: 10px; overflow-y: scroll; overflow-x:hidden;'>
                <div v-if='results'>
                    <label class="accordion-header">
                        <span class='h5'>Results</span>
                    </label>
                    <div class="accordion-body">
                        <div v-for='(item, index) in finalConflicts' :key='index'>
                            <p>{{item.text}}</p>
                        </div>
                    </div>
                    <p v-if='finalConflicts.length == 0'>No conflicts here!</p>
                </div>
                <div v-if='!results' style='position: relative; height: 100%'>
                    <button style='position: absolute;top: 50%; left: 50%; transform: translate(-50%, -50%);'
                        :class="isDisabled" @click='fetchStickers'>Get conflicts!</button>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="./assets/scripts/conflicts.js"></script>

</html>